body {
    background: #09f;
    margin: 0;
}

.container{
    display: inline-block;
    background: #fff;
    font-size: 36px;
    width: 150px;
    min-height: 150px;
    max-height: 200px;
    padding: 10px;
    border: red 1px solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 10px;
    overflow: hidden;
    position: relative;
}

.bi-heart-fill{
    position: absolute;
    top: -5px;
    left: 5px;
}

.icono-whatsapp{
    position: absolute;
    right: 10px;
    bottom: 10px;
    & i{
        font-size: 36px;
        color: #075e54;
    }
}

